@import url('https://fonts.googleapis.com/css?family=Suez+One|Carter+One|Indie+Flower|Orbitron:wght@500|Inconsolata:wght@500');

* {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fafafa;
  font-family: Trebuchet MS, Helvetica;
}

/* Шапка сайта */
header {
  width: 100%;
  padding: 10px 0.5% 0px 0.5%;
  background: transparent;
  float: left;
  position: fixed;
}

header #logo {
  color: #2de41d;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 0;
  height: 50px;
  overflow: hidden;
}

header #logo span {
  display: flex;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  height: 50px;
}

header #logo:hover span {
  cursor: pointer;
  animation: shuffle steps(7) 1.4s infinite;
}

@keyframes shuffle {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-350px);
  }
}

header #logo span {
  font-size: 2.3em;
  line-height: 50px;
  margin-left: 40px;
  font-family: 'Carter One', cursive;
}

#about {
  text-align: center;
  font-size: 1em;
  line-height: 40px;
}

#about>a {
  color: #a9e494;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
  margin-top: -5px;
  font-family: 'Carter One', cursive;
}

#about>a:hover {
  color: #8cbe7a;
  background: #a9e494;
  box-shadow: 0 0 10px #a9e494, 0 0 40px #a9e494, 0 0 80px #a9e494;
}

#about>a:not(:last-child) {
  margin-right: 7%;
}

/* Стили для фиксированной шапки */
.fixed {
  z-index: 5000;
  background-color: #252a27;
  border-bottom: 1px solid #141715;
}

header.fixed #logo {
  color: #2196f3;
  transition: 1.5s;
}

.fixed #about a {
  color: #a9e494;
}

.fixed #about a:hover {
  color: #8cbe7a;
  background: #a9e494;
}

/* Главный блок на сайте */
#top {
  width: 100%;
  background-image: url(1.jpg);
  background-blend-mode: multiply;
  background-color: #5d605d;
  background-size: cover;
  text-align: center;
  color: #fff;
}

#top h1 {
  position: absolute;
  font-family: 'Indie Flower', cursive;
  padding-top: 20%;
  text-shadow:
    0 0 10px rgba(255, 255, 255, .8),
    0 0 20px rgba(255, 255, 255, .8),
    0 0 22px rgba(255, 255, 255, .8),
    0 0 40px rgba(101, 251, 36, 0.8),
    0 0 60px rgba(101, 251, 36, 0.8),
    0 0 80px rgba(101, 251, 36, 0.8),
    0 0 100px rgba(101, 251, 36, 0.5),
    0 0 140px rgba(101, 251, 36, 0.5),
    0 0 200px rgba(101, 251, 36, 0.5);
  animation: neon 3s infinite;
  animation-timing-function: linear;
}

@keyframes neon {
  0% {
    opacity: 1;
  }

  45% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  55% {
    opacity: 1;
  }

  60% {
    opacity: 0.5;
  }

  63% {
    opacity: 1;
  }

  93% {
    opacity: 1;
  }

  95% {
    opacity: 0.5;
  }

  97% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/* Блок с возможностями */
#main {
  float: left;
  background-color: #252a27;
  border-top: 3px solid #141715;
  color: #484848;
}

#main .text span {
  color: #817b7b;
  font-family: 'Orbitron', sans-serif;
}

#main .intro span {
  color: #9fbfee;
  font-family: 'Inconsolata', monospace;
}

#main .intro h2 {
  color: #5291EF;
  font-family: 'Inconsolata', monospace;
}

#main .more a {
  color: #5291EF;
  display: inline-block;
  position: relative;
  padding: 0px 100px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  font-family: 'Carter One', cursive;
  background: #325993;
}

#main .more a:hover {
  color: #4173be;
  background: #5291EF;
  box-shadow: 0 0 10px #5291EF, 0 0 40px #5291EF, 0 0 80px #5291EF;
}

#main div {
  width: 48%;
  margin-right: 2%;
  float: left;
}

/* Блок с преимуществами */
#overview {
  float: left;
  background-image: url(phone.gif);
  background-blend-mode: multiply;
  background-color: #5d605d;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
}

#overview h2 {
  color: #6EDE3D;
}

#overview h4 {
  color: #B3E197;
}

#overview img {
  float: left;
  width: 100%;
  height: 150px;
  width: 150px;
  margin-left: 3.5%;
}

#overview .container {
  width: 1000px;
  margin-top: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

#overview .container .card {
  position: relative;
}

#overview .container .card .face {
  transition: 0.5s;
}

#overview .container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

#overview .container .card:hover .face.face1 {
  background: #B3E197;
  transform: translateY(0px);
}

#overview .container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

#overview .container .card .face1 {
  box-shadow: 0 0 10px #332355, 0px 0px 40px #332355, 0 0 80px #332355;
}

#overview .container .card:hover .face1 {
  box-shadow: 0 0 0px #332355, 0px 0px 0px #332355, 0 0 0px #332355;
}

#overview .container .card:hover .face.face1 .content {
  opacity: 1;
}

#overview .container .card .face.face1 .content img {
  max-width: 150px;
}

#overview .container .card .face.face1 .content h3 {
  margin: 160px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
}

#overview .container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

#overview .container .card:hover .face.face2 {
  transform: translateY(0);
}

#overview .container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  color: #817b7b;
}

#overview .container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

#overview .container .card .face.face2 .content a:hover {
  background: #2A2D2B;
  color: #fff;
}

#overview h2 {
  font-family: 'Inconsolata', monospace;
}

#overview h4 {
  font-family: 'Orbitron', sans-serif;
  margin-top: 10px;
}

/* Вопросы и ответы */
#faq {
  background-color: #2A2D2B;
  border-top: 2px dashed #141715;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 100px;
  font-family: 'Inconsolata', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

#faq,
#faq::before,
#faq::after {
  box-sizing: inherit;
}

#faq .container1 {
  width: 100%;
  margin: 0 auto -40px auto;
  padding: 0 10rem 0 10rem;
  max-width: 80rem;
}

#faq section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion {
  width: 30rem;
}

.accordion-item {
  background-color: #283042;
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);
}

.accordion-link {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
  background-color: #283042;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link ion-icon {
  padding: .5rem;
  color: #e7d5ff;
  font-size: 2.1rem;
}

.accordion-link .bugaga {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #212838;
}

.answer::before {
  content: "";
  position: absolute;
  width: .6rem;
  height: 90%;
  background-color: #B5D798;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.answer p {
  color: rgba(255, 255, 255, .6);
  font-size: 1.3rem;
  padding: 1.4rem;
}

.accordion-item:target .answer {
  max-height: 20rem;
  transition: 1.6s;
}

.accordion-item:target .accordion-link .bugaga2 {
  display: none;
}

.accordion-item:hover .accordion-link .bugaga2 {
  color: yellow;
}

.accordion-item:target .accordion-link .bugaga {
  display: block;
}

.accordion-item:target .accordion-link .bugaga {
  color: yellow;
}