@media (min-width: 3840px) {
  #top h1 {
    position: absolute;
    font-size: 250px;
  }

  #top {
    height: 1470px;
  }

  .fixed {
    height: 90px;
  }

  #about a {
    font-size: 45px;
  }

  header #logo span {
    font-size: 3.2em;
  }
}

@media (min-width: 2560px) and (max-width: 3830px) {
  #top {
    font-size: 3em;
    height: 1000px;
  }

  #about {
    margin-left: 35%;
  }

  #toggle {
    margin-left: 70%;
  }

  nav h2 {
    font-size: 32px;
  }

  input {
    margin-left: 82.3rem;
  }

  #top h1 {
    position: absolute;
    font-size: 230px;
    margin-left: 25%;
    margin-top: 15%;
  }

  #about ul {
    height: 250px;
    width: 225px;
    margin-left: -3.7rem;
  }

  #top {
    height: 1000px;
  }

  .fixed {
    height: 70px;
  }

  #about a {
    font-size: 30px;
    margin-left: 30%;
  }

  header #logo span {
    font-size: 3.2em;
  }
}

@media (min-width: 2048px) and (max-width: 2550px) {
  #top h1 {
    position: absolute;
    left: 25%;
    margin-top: 15%;
    font-size: 170px;
  }

  #about {
    margin-left: 25%;
  }

  #toggle {
    margin-left: 65.3%;
  }

  #about ul {
    height: 250px;
    width: 225px;
    margin-left: -3.7rem;
  }

  nav h2 {
    font-size: 34px;
  }

  input {
    margin-left: 72rem;
  }

  #top {
    height: 1000px;
  }

  .fixed {
    height: 65px;
  }

  #about a {
    font-size: 30px;
    margin-left: 25%;
  }

  header #logo span {
    font-size: 3.2em;
  }
}

@media (min-width:1920px) and (max-width: 2038px) {
  #top h1 {
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 130px;
  }

  nav h2 {
    font-size: 20px;
  }

  input {
    margin-left: 70rem;
  }

  #top {
    height: 1000px;
  }

  .fixed {
    height: 60px;
  }
}

@media (min-width:1680px) and (max-width: 1910px) {
  #about {
    position: absolute;
    float: right;
    width: 67%;
    margin-left: 50%;
  }

  #about {
    margin-left: 45%;
  }

  #toggle {
    margin-left: 30%;
  }

  .back {
    margin-left: 10%;
  }

  nav h2 {
    font-size: 24px;
  }

  input {
    margin-left: 22rem;
  }

  #top {
    height: 1000px;
  }

  #top h1 {
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 130px;
  }

  .fixed {
    height: 60px;
  }
}

@media (min-width:1600px) and (max-width: 1670px) {
  #about {
    position: absolute;
    float: right;
    width: 67%;
    margin-left: 50rem;
  }

  #about {
    margin-left: 40%;
  }

  .back {
    margin-left: 20%;
  }

  nav h2 {
    font-size: 22px;
  }

  input {
    margin-left: 21rem;
  }

  #top {
    height: 1000px;
  }

  #top h1 {
    position: absolute;
    top: 50%;
    left: 27%;
    font-size: 130px;
  }

  .fixed {
    height: 57px;
  }
}

@media (min-width:1440px) and (max-width: 1590px) {
  #about {
    position: absolute;
    float: right;
    width: 67%;
    margin-left: 40rem;
    font-size: 30rem;
  }

  #about h2 {
    margin-left: -50%;
  }

  #about>a span {
    padding-left: 70px;
    padding-top: 100px;
  }

  nav h2 {
    font-size: 20px;
  }

  input {
    margin-left: 21rem;
  }

  #top {
    height: 1000px;
  }

  #top h1 {
    position: absolute;
    top: 44%;
    left: 25%;
    font-size: 140px;
  }

  .fixed {
    height: 57px;
  }
}

@media (min-width:1400px) and (max-width: 1430px) {
  #about {
    position: absolute;
    float: right;
    width: 67%;
    margin-left: 35rem;
  }

  nav h2 {
    font-size: 30px;
  }

  input {
    margin-left: 21rem;
  }

  #top {
    height: 1000px;
  }

  #about>a span {
    padding-left: 130px;
    font-size: 30px;
  }

  #top h1 {
    position: absolute;
    top: 45%;
    left: 25%;
    font-size: 130px;
  }

  .fixed {
    height: 57px;
  }
}

@media (min-width:1280px) and (max-width: 1390px) {
  #about {
    position: absolute;
    float: right;
    width: 67%;
    margin-left: 30rem;
  }

  nav h2 {
    font-size: 30px;
  }

  input {
    margin-left: 21rem;
  }

  #top {
    height: 1000px;
  }

  #about>a span {
    padding-left: 220px;
    font-size: 30px;
  }

  #top {
    height: 1000px;
  }

  #top h1 {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 130px;
  }

  .fixed {
    height: 57px;
    width: 1265px;
  }
}

@media (min-width:1152px) and (max-width: 1270px) {
  #about {
    margin-right: 35px;
    margin-top: -55px;
  }

  #top {
    height: 1000px;
  }

  #top h1 {
    margin-left: 530px;
    margin-top: 260px;
    font-size: 101px;
  }

  .fixed {
    height: 52px;
    width: 1140px;
  }
}

@media (width:1024px) {
  #about {
    margin-right: 40px;
    margin-top: -55px;
  }

  #top {
    height: 1000px;
  }

  #top h1 {
    margin-left: 520px;
    margin-top: 320px;
    font-size: 80px;
  }

  .fixed {
    height: 52px;
    width: 1015px;
  }
}

@media (min-width: 1001px) and (max-width: 1014px) {
  #top {
    font-size: 3em;
  }
}

@media (max-width: 1000px) and (min-width: 651px) {
  #top {
    font-size: 2em;
    height: 600px;
  }
}

@media (max-width: 650px) {
  #top {
    font-size: 1.3em;
    padding-top: 50%;
    height: 500px;
  }
}

@media (max-width: 450px) {
  #top {
    font-size: 0.9em;
  }
}